/* full body css */
body {
  font-family: 'Edu TAS Beginner', cursive ! important;
  font-style: italic;
}

body h1 {
  text-align: center;
  font-style: italic;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  font-size: 40px;
  color: rgb(154, 141, 141);
}

hr {
  margin: 7px !important;
}

/* container styling */
.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #3d76d1;
}

.jumbotron p {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

/*  styling of Left section of navbar */
.left {
  padding-left: 1rem;
  background-color: white;
  color: black;
  float: left;
}

.left a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

/*  styling of main(middle) section of navbar */
.main {
  width: 80%;
}

/*  styling of right section of navbar */
.right {
  flex: 1;
  display: flex;
  padding-right: 1rem;
  justify-content: flex-end;
  float: right;
  background-color: #ffffff;
  color: black;
  font-size: 16px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

/* The sidepanel menu */
.sidepanel {
  height: 800px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: blue;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 30px;
  cursor: point er;
  background-color: #ffffff;
  color: black;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: skyblue;
  transition: background 0.5s ease-in-out;
}

/* yeti pet chew */
.whole-container {
  padding-top: 10px;
  padding-left: 80px;
  padding-right: 80px;
}

.whole-container .row {
  align-items: center;
  padding-left: 6rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  justify-content: center;
}

.whole-container p {
  padding-left: 1.25rem;
  align-content: center;
  justify-content: center;
  color: #8a8883;
}

/* shop by category */
.Category-Whole {
  padding-left: 100px;
  padding-right: 100px;
}

.Category-Whole .row {
  text-align: center;
  justify-content: center;
}

.Category-Whole .row p {
  font-size: 1.15rem;
  font-weight: 300;
  padding-bottom: 3rem;
  box-sizing: border-box;
}

.Category-Whole h2 {
  text-align: center;
  margin-top: 10px !important;
  font-size: 30px;
  color: rgb(2, 2, 2);
}

.Category-Whole h2 span {
  font-size: 30px;
  color: rgb(154, 141, 141);
}

.Category-Whole .row img {
  margin-right: auto !important;
  margin-left: auto !important;
  max-width: 100%;
  height: auto;
  max-width: 70%;
  max-height: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* carousle */
.carousel-slide {
  padding-left: 100px;
  padding-right: 100px;
}

.carousel-item img {
  padding-top: 3REM;
  padding-bottom: 3REM;
}

/* navbarTwo */
.navbarTwo {
  display: flex;
  background-color: #99ccff;
  padding-bottom: 60px;
  justify-content: center;

}

.navbarTwo nav ul li {
  padding-top: 2rem;
  padding-left: 2rem;
  display: inline-block;
  color: white;
  text-decoration: none;
}

/* Newsletter  */
.newsletter {
  background-color: #99ccff;
  color: #ffffff;
  padding-bottom: 50px;
  padding-right: 5%;
  padding-left: 5%;
}

.newsletter h2 {
  color: white;
  margin-left: 5%;
}

.newsletter i {
  font-size: 36px;
  color: white;
  float: inline-end;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* footer */
.footer {
  color: #ffffff;
  font-size: 20px;
  justify-items: center;

  background-color: #b0b2b5;
}

.footer i {
  color: #ffffff;
  display: inline;
  font-size: 20px;
}

/* payment */
.payment {
  display: flex;
  justify-content: center;
}

.payment i {
  font-size: 36px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.newsletter .row {
  padding-bottom: 3rem;
}

.submit-button {
  background: none;
  /* No background */
  border: none;
  /* No border */
  font-size: 16px;
  /* Font size */
  cursor: pointer;
  /* Pointer cursor */
  color: #000;
  /* Icon color */
  margin-left: 5px;
  /* Space between input and button */
}